{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">About Easy Packing List</h1>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Our Mission</h2>
            <p class="card-text">At Easy Packing List, we understand the challenges travelers face—from forgetting essential items to the hassle of creating new packing lists for every trip. Before Easy Packing List, our travels were often hindered by missing items, spending hours on Google Docs drafting lists from scratch, and losing track of what was packed and what wasn't.</p>
            <p class="card-text">This app solves all of that by providing a dynamic, user-friendly platform where you can quickly generate customized packing lists based on your specific travel needs, save them for future use, and update them on the go.</p>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h2 class="card-title">Credits</h2>
            <p class="card-text">Special thanks to <a href="https://openmoji.org" target="_blank" rel="noopener noreferrer">OpenMoji.org</a> for allowing us to use their graphics, which add a delightful touch to our app and enhance our users' experience.</p>
        </div>
    </div>
</div>
{% endblock %}